.loadingScreen {
  padding: 60px 90px;
  background-color: var(--primary-colour-lighter);
  color: var(--primary-colour);
  border-radius: 24px;
  font-size: .9rem;

  /* flex box */
  display: flex;
  flex-direction: column;
  gap: 36px;
  align-items: center;
  justify-content: center;
}

.masterball {
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid;
  animation: frames .8s ease-in-out 0s infinite;
}

@keyframes frames {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}